body{
background-color:#D0E0C0;
}
#main{

width:960px;
margin40px auto;
padding: 40px 80px;
border: green 1px solid;
background-color  white;

}
.jaga_picture:after{
content:"";
  clear:both;
  display:block;

}
.photo{
float: left;
  margin-right:30px;

}

.explanation{
float: left;
  width: 468px;
}
.btn
{
-webkit-appearance: none;
  margin: 5px;
}
dt{
clear: left;
  float: left;
  font-weight: bold;
}
